# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.production

# Database
prisma/*.db
prisma/*.db-journal

# Uploads (user files)
uploads/

# Backup files (jangan commit ke git)
backup/
*.backup
*.bak

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
